[Unit]
Description=node_exporter
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/local/node_exporter/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target